
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
}

button{
    padding: 12px;
    border-radius: 5px;
    background: orangered;
    color: white;
    border: none;
    cursor: pointer;
}